@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
:root {
  --bg-black: #171819;
  --bg-black-op: #171819b7;
  --bg-dark: #212529;
  --bg-orange: #f13a11;
  --bg-white: #f9f9f9;
  --text-white: #ffffff;
  --text-gray: #909090;
  --gray-light: #666262;
  --gray-dark: #404040;
}

body {
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.2s;
}

.container {
  display: grid;
  grid-template-rows: 100vh minmax(65vh, max-content) 140vh 100vh 100vh 40vh;
  position: relative;
}

.header {
  margin-top: 5rem;
  grid-row: 1/2;
  background-color: var(--bg-black);
  background-image: linear-gradient(var(--bg-black-op), var(--bg-black-op)), url(../img/hero-bg.jpg);
  background-position: center 1.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header--heading3 {
  color: var(--gray-light);
  font-size: 1.4rem;
  text-transform: lowercase;
  font-weight: 400;
}
.header--heading2 {
  color: var(--text-white);
  font-size: 3rem;
  text-transform: uppercase;
  width: 55%;
  text-align: center;
  font-weight: 800;
  margin: 0.6rem 0 1.4rem;
}
.header--btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header--btns > * {
  background: none;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1.2rem 0.7rem;
  font-weight: 500;
  cursor: pointer;
}
.header--btns-btn1 {
  border: none;
  color: var(--text-white);
}
.header--btns-btn1:hover {
  color: var(--bg-orange);
}
.header--btns-btn2 {
  color: var(--bg-orange);
  border: 1px solid var(--bg-orange);
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
}
.header--btns-btn2:hover {
  background-color: var(--bg-white);
}

@media only screen and (max-width: 500px) {
  .header--heading3 {
    font-size: 0.8rem;
  }
  .header--heading2 {
    font-size: 1.8rem;
  }
  .header--btns > * {
    font-size: 0.7rem;
  }
}
.membership {
  padding: 2rem;
  grid-row: 2/3;
  background-color: var(--bg-black);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-content: center;
  grid-gap: 4rem;
  color: var(--text-white);
}
.membership--plan {
  justify-items: end;
  display: grid;
}
.membership--plan div {
  width: 70%;
}
.membership--plan-heading {
  font-size: 2.7rem;
  margin-bottom: 1rem;
}
.membership--plan-text {
  font-size: 1.3rem;
  font-weight: 500;
}
.membership--plan-pera {
  font-size: 1.2rem;
  margin: 2rem 0;
  color: var(--gray-light);
}
.membership--plan-pera a {
  color: var(--gray-dark);
}
.membership--plan-pera a:hover {
  color: var(--bg-orange);
}
.membership--plan-btn {
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: var(--text-white);
  background-color: var(--bg-orange);
  text-transform: uppercase;
}
.membership--plan-btn:hover {
  background-color: var(--bg-white);
  color: var(--bg-orange);
}
.membership--routine {
  justify-self: start;
}
.membership--routine div {
  border-left: 2px solid var(--bg-dark);
  padding-left: 5rem;
}
.membership--routine-heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.membership--routine-day {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
}
.membership--routine .mb {
  margin-bottom: 1.3rem;
}
.membership--routine-time {
  font-size: 1.5rem;
  color: var(--gray-light);
  margin-bottom: 2rem;
}

@media only screen and (max-width: 750px) {
  .membership {
    padding: 3rem;
  }
  .membership--plan {
    justify-items: start;
  }
  .membership--plan div {
    width: 100%;
  }
  .membership--routine div {
    border-left: none;
    padding-left: 0;
  }
}
.navbar {
  position: fixed;
  background-color: var(--bg-black);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
}
.navbar--heading-link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-white);
}
.navbar--heading-link:hover {
  color: var(--bg-orange);
}
.navbar--ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.navbar--ul li {
  padding: 0 1.2rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-white);
  cursor: pointer;
}
.navbar--ul li:first-child, .navbar--ul li:hover:not(:last-child) {
  color: var(--bg-orange);
}
.navbar--ul-icons i {
  padding: 0 0.8rem 0;
  font-size: 1.1rem;
}
.navbar--ul-icons i:hover {
  color: var(--bg-orange);
}

.nav--responsive-btn {
  background: none;
  border: none;
}
.nav--responsive-btn i {
  font-size: 1.8rem;
  color: var(--bg-orange);
}

.nav--responsive {
  display: none;
}
.nav--responsive .btn2 {
  display: none;
}

.ul--responsive {
  display: none;
}

@media only screen and (max-width: 900px) {
  .height {
    height: 17rem;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content max-content;
    overflow: hidden;
    padding-top: 1.2rem;
    transition: all 0.5s;
  }
  .navbar--heading {
    padding-left: 1.5rem;
  }
  .navbar--ul {
    display: none;
  }
  .nav--responsive {
    display: block;
    padding-right: 1.5rem;
    justify-self: end;
  }
  .nav--responsive-btn {
    cursor: pointer;
  }
  .ul--responsive {
    padding-top: 0.9rem;
    grid-column: 1/-1;
    justify-self: center;
    flex-direction: column;
    align-items: center;
  }
  .ul--responsive li {
    cursor: pointer;
    padding: 0.2rem 0;
    color: var(--text-white);
  }
  .ul--responsive li:first-child, .ul--responsive li:hover:not(:last-child) {
    color: var(--bg-orange);
  }
  .ul--responsive .responsive--ul-icons i {
    padding: 0.8rem 0.5rem;
  }
  .ul--responsive .responsive--ul-icons i:hover {
    color: var(--bg-orange);
  }
}
@media only screen and (max-width: 510px) {
  .navbar--heading-link {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
